.footer-section {
    color: #fff;
    background-color: #181501;
    margin-top: 50px;
}
.footer-section .container-fluid {
    padding-top: 100px;
}
.footer-copyright {
    background-color: #000;
    color: #fff;
}
.footer-logo {
    width: 200px;
}
.footer-svg {
    height: 40px;
    padding: 5px;
    /* border-radius: 50%;
    border: 1px solid #ffc107; */
    margin-top: 10px;
    margin-right: 5px;
}
.mail {
    height: 30px;
}
.phone{
    height: 35px;
    transform: rotate(90deg);
}
@media (max-width: 768px) {
    .mail {
        margin-left: -30px;
    }  
    .phone {
        margin-left: -10px;
    }     
}