.left-text {
    position: relative;
    left: 5%;
}
.left-text h2 {
    font-size: 36px;
    font-weight: 900;
    width: 100%;
    text-align: center;
}
.custom-img {
    height: 100vh;
    object-fit: cover;
}
@media (max-width: 768px) {
    .custom-img {
        height: 40vh;
        object-fit: cover;
    }
    .left-text {
        left: auto;
    }
    .left-text h2 {
        font-size: 36px;
        font-weight: 900;
        width: 100%;
        text-align: center;
    }
}
