.whovr-section {
    padding: 25px 15px;
    background-color: #f7d672a6;
}
.whovr-text h1 {
    font-size: 36px;
    font-weight: 900;
    width: 100%;
    text-align: center;
}
.rt-img {
    height: 60vh;
    object-fit: cover;
    margin-top: 15px;
}
@media (max-width: 768px) {
    .whovr-section {
        padding: 15px;
    }
    .custom-img {
        height: 40vh;
        object-fit: cover;
    }
}
